:root {
    --preto_max:#080000;
    --vermelho1:#f80000;
    --vermelho2:#b30000;
    --branco:#FFFFFF;   
    --azulEmail: #3104B4;
}
body {
	font-family: 'Montserrat', sans-serif;
}
/*Header*/
.cabecalho {
    background-color: var(--preto_max);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 15%;
    margin-top: 2%;
    margin-left: 2%;
}

.botaoPesquisa {
    width: 35px;
}

.loginCompras {
    display: flex;
    margin-right: 3%;
    align-items: center;   
}

.carrinhoDeCompras {
    width: 35px;
}

.sacolaDeCompras {
    width: 35px;
}

.menuPlataformas {
    display: flex;
    background-color: var(--preto_max);
    justify-content: space-around;
    align-items: center; 
    padding: 0% 10% 0% 10%;
 }

.logoxbox {
    width: 25px;
}

#button:hover {
    transform: scale(2);
}

.logonintendo {
    width: 30px;
}

.logoplaystation {
    width: 30px;
}

.logotipoplacadevideo {
    width: 45px;
}

.lgotipocategorias {
    width: 30px;
}

/*Main*/

.bannerpromo {
    width: 100%;
}

.bannerDestaque {
    display: flex;
    margin: 2%;
    gap: 2%;    
    margin: 2% auto;
}

#buttonImages:hover {
    transform: scale(1.1);
}

.bannerDestaqueTamanho{
    max-width: 90%;
    border-radius: 1%;
    margin-left: 5%;
}

.destaquePlataforma {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.plataf-imagens {
    max-width: 80%;
}

.bannerSecundario {
    margin: 2%;    
}

.bannerDown {
   border-radius: 1%;
   width: 100%;
}

.produtos li {
    display: inline-grid;
    text-align: center;
    width: 25%;
    vertical-align: top;
    margin: 2% 2% 1.2% 5%;
    padding: 1% 0%;
    box-sizing: border-box;
    border: 2px solid var(--preto_max);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: stretch;

}

.produtos li:hover h2 {
	font-size: 70%;
    opacity: 0.2;
}

.produtos h2 {
	font-size: 120%;
	font-weight: bold;
}

.precoAvista {
	font-size: 80%;
}

.precoParcelado {
	font-size: 100%;
	font-weight: bold;
	margin-top: 2%;
}

.imagemTamanho {
    width: 50%;
}
        
.produtos li:hover {
    border-color: var(--vermelho1);
    transform: scale(1.1);
}


/*Footer*/



.rodapePrincipalEmail {
	margin-top: 2%;
	background: var(--azulEmail);
    max-width: 100%;
	padding: 2% 20%;
    color: var(--branco);   
}


.rodapePrincipal-contatoForm label[for=email-contato] {
	font-weight: bold;
	font-size: 2px;
	color: var(--branco);
	margin-bottom: 1%;
	display: flex;
}

.rodapePrincipal-contatoForm-emailInput {
	border-top-left-radius: 1%;
	border-bottom-left-radius: 1%;
	padding: 5%;
}

.rodapePrincipal-contatoForm-submit {
	border-top-right-radius: 25%;
	border-bottom-right-radius: 25%;
	background-color: var(--vermelho1);
	color: var(--branco);
	cursor: pointer;	
}


.rodapePrincipal-contatoForm-emailInput {
	outline: 0;
	border: 1% solid var(--preto_max);
	box-sizing: border-box;
}

.rodapePrincipalEmail .container {
    display: flex;
    justify-content: space-around;
}


.rodapePrincipal-contatoForm-fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*Footer 2 Institucional*/

.rodapeInstitucional {
    background-color: var(--preto_max);
    color: var(--branco);
    max-width: 100%;
    height: 250px;

}

.navegacaoRodapeInstitucional {
   

}