:root {
    --preto_max:#080000;
    --vermelho1:#f80000;
    --vermelho2:#b30000;
    --branco:#FFFFFF;   
    --azulEmail: #3104B4;
}
body {
	font-family: 'Montserrat', sans-serif;
}


/*versão desktop & tablet*/
/*Header*/

@media screen and (min-width: 481px) {
.cabecalhos {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;}
}

@media screen and (min-width: 481px) {
.cabecalhoPrincipal {
    background-color: var(--preto_max);
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;}
}

@media screen and (min-width: 481px) {
.cabecalho {
    display: flex;
    justify-content: space-between;
    width: 45%;
    align-items: center;}
}

@media screen and (min-width: 481px) {
.loginCompras {
    display: flex;
    margin-right: 3%;
    align-items: center;
    justify-content: flex-end;
    width: 50%;}
}

@media screen and (min-width: 481px) {
.menuPlataformas {
    display: flex;
    background-color: var(--vermelho1);
    justify-content: space-around;
    align-items: center;
    padding: 0% 10%;
    flex-direction: row;
    flex-wrap: nowrap;}
}

.logo {
    width: 50%;
    margin-top: 2%;
}

.botaoPesquisa {
    width: 5.5%;
}

.login {
   width: 100%;
    }
    
.sacolaDeCompras {
    width: 53%;
    }

.logoxbox {
    width: 25px;
}

#button:hover {
    transform: scale(2);
}

.logonintendo {
    width: 30px;
}

.logoplaystation {
    width: 30px;
}

.logotipoplacadevideo {
    width: 45px;
}

.lgotipocategorias {
    width: 30px;
}

/*Main*/

.bannerpromo {
    width: 100%;
}

@media screen and (min-width: 481px) {
.bannerDestaque {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2%;}
}

#buttonImages:hover {
    transform: scale(1.1);
}

.bannerDestaqueTamanho {
    max-width: 90%;
    border-radius: 1%;
    margin-left: 5%;
}

.destaquePlataforma {
 display: grid;
}

.escolhaPlataforma {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.plataf-imagens {
    max-width: 80%;
}

.bannerSecundario {
    margin: 2%;    
}

.bannerDown {
   border-radius: 1%;
   width: 100%;
}

@media screen and (min-width: 481px) {
    .galeriaProdutos {
    padding: 30px;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;}
    }

.produtos {
    display: inline-grid;
    text-align: center;
    max-width: 100%;
    
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: stretch;

    vertical-align: top;
    margin: 2% 2% 2.2% 0%;
    padding: 1% 0%;
}  
  



.produtos:hover h2 {
	font-size: 70%;
    opacity: 0.2;
}

.produtos h2 {
	font-size: 120%;
	font-weight: bold;
}

.precoAvista {
	font-size: 80%;
}

.precoParcelado {
	font-size: 100%;
	font-weight: bold;
	margin-top: 2%;
}

.imagemTamanho {
    width: 50%;
}
        


/*NEWSLETTER*/
.rodapePrincipalEmail {
	margin-top: 2%;
	background: var(--azulEmail);
    max-width: 100%;
	padding: 2% 20%;
    color: var(--branco);   
}

.rodapePrincipal-contatoForm label[for=email-contato] {
	font-weight: bold;
	font-size: 2px;
	color: var(--branco);
	margin-bottom: 1%;
	display: flex;
}

.rodapePrincipal-contatoForm-emailInput {
	border-top-left-radius: 1%;
	border-bottom-left-radius: 1%;
	padding: 5%;
}

.rodapePrincipal-contatoForm-submit {
	border-top-right-radius: 25%;
	border-bottom-right-radius: 25%;
	background-color: var(--vermelho1);
	color: var(--branco);
	cursor: pointer;	
}

.rodapePrincipal-contatoForm-emailInput {
	outline: 0;
	border: 1% solid var(--preto_max);
	box-sizing: border-box;
}

.rodapePrincipalEmail  {
    display: flex;
    justify-content: space-around;
}


.rodapePrincipal-contatoForm-fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*RODAPÉ*/


.rodape {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--preto_max);
    color: var(--branco);
    align-items: flex-start;
    padding: 1% 0% 3% 0%;
}


.rodapeFinal {
    display: grid;
}


.metodoDePagamento {
    display: grid;
   
}

.redesSociais {
    display: grid;
}

/* versão mobile*/
/*header*/

@media screen and (max-width: 480PX) {
    .cabecalhos {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: wrap;}
    }
    
    @media screen and (max-width: 480PX) {
    .cabecalhoPrincipal {
        background-color: var(--preto_max);
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;}
    }
    
    @media screen and (max-width: 480PX) {
    .cabecalho {
        display: flex;
        justify-content: flex-end;
        width: 72%;
        flex-direction: row;
        flex-wrap: nowrap;}
    }
    
    @media screen and (max-width: 480PX) {
    .loginCompras {
        display: flex;
        margin-right: 0%;
        width: 15%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;}
    }
    
    @media screen and (max-width: 480px) {
    .menu {display: none;}
    }
    
    /*main*/
    @media screen and (max-width: 480px) {
    .plataf-imagens {
        margin: 10%;}
    }
    
    
    @media screen and (max-width: 480px) {
    .bannerDestaque { 
        display: grid;
        flex-direction: column;
        margin-top: 3%;}
    } 
    
    
    @media screen and (max-width: 480px) {
        .bannerDestaque1 {display: none;}
    }
    
    @media screen and (max-width: 480PX) {
    .escolhaPlataforma {flex-direction: column;}
    }
    
    @media screen and (max-width: 480PX) {
    .bannerPrincipal {display: none;}
    }
    
    @media screen and (max-width: 480px) {
    .galeriaProdutos {
    padding: 30px;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));}
    }

   
@media screen and (max-width: 480px) {
.rodapeFinal {
    display: flex;
    flex-direction: column;
    align-items: center;}
}



@media screen and (max-width: 480px) {
.rodape {
        display: flex;
        width: 100%;
        background-color: var(--preto_max);
        color: var(--branco);
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
.lista { visibility: hidden;}
}

@media screen and (max-width: 480px) {
.bandeiras { visibility: hidden;}
}

@media screen and (max-width: 480px) {
.metodoDePagamento {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -11%;
    }
}

@media screen and (max-width: 480px) {
    .redesSociais li {visibility: hidden;}
    }
