:root {
    --preto_max:#080000;
    --vermelho1:#f80000;
    --vermelho2:#b30000;
    --branco:#FFFFFF;   
    --azulEmail: #3104B4;
}
body {
	font-family: 'Montserrat', sans-serif;
}


/*versão desktop & tablet*/
/*Header*/

@media screen and (min-width: 481px) {
.cabecalhos {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;}
}

@media screen and (min-width: 481px) {
.cabecalhoPrincipal {
    background-color: var(--preto_max);
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;}
}

@media screen and (min-width: 481px) {
.cabecalho {
    display: flex;
    justify-content: space-between;
    width: 34%;
    align-items: center;}
}

.areaCliente{
display: flex;
}


@media screen and (min-width: 481px) {
.loginCompras {
    display: flex;
    margin-right: 3%;
    align-items: center;
    justify-content: flex-end;
    width: 100%;}
}


@media screen and (min-width: 481px) {
.menuPlataformas {
    display: flex;
    background-color: var(--vermelho1);
    justify-content: space-around;
    align-items: center;
    padding: 0% 10%;
    flex-direction: row;
    flex-wrap: nowrap;}
}



.logo {
    width: 50%;
    margin-top: 2%;
}

.botaoPesquisa {
    width: 5.5%;
}

.login {
    width: 315%;	
}



.botaoLogin {
    background-color: black;
    border-color: black;
}
    
.sacolaDeCompras {
    width: 248%;
    }

.logoxbox {
    width: 25px;
}

.menuPlataformas li:hover {
    transform: scale(2);
}


.logonintendo {
    width: 30px;
}

.logoplaystation {
    width: 30px;
}

.logotipoplacadevideo {
    width: 45px;
}

.lgotipocategorias {
    width: 30px;
}

/*Main*/

.bannerpromo {
    width: 100%;
}

@media screen and (min-width: 481px) {
.bannerDestaque {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2%;}
}



.bannerDestaqueTamanho {
    max-width: 90%;
    border-radius: 1%;
    margin-left: 5%;
}

.bannerDestaqueTamanho:hover {
    transform: scale(1.1);
}

.destaquePlataforma {
 display: grid;
}

.escolhaPlataforma {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.plataf-imagens {
    max-width: 80%;
}

.plataf-imagens:hover {
    transform: scale(1.1);
}

.bannerSecundario {
    margin: 2%;    
}

.bannerDown {
   border-radius: 1%;
   width: 100%;
}

@media screen and (min-width: 481px) {
    .galeriaProdutos {
    padding: 30px;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;}
    }

.produtos {
    display: inline-grid;
    text-align: center;
    max-width: 100%;
    
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: stretch;

    vertical-align: top;
    margin: 2% 2% 2.2% 0%;
    padding: 1% 0%;
}  
  



.produtos:hover h2 {
	font-size: 70%;
    opacity: 0.2;
}

.produtos h2 {
	font-size: 120%;
	font-weight: bold;
}

.precoAvista {
	font-size: 80%;
}

.precoParcelado {
	font-size: 100%;
	font-weight: bold;
	margin-top: 2%;
}

.imagemTamanho {
    width: 50%;
}
        


/*NEWSLETTER*/
.rodapePrincipalEmail {
	margin-top: 2%;
	background: var(--azulEmail);
    max-width: 100%;
	padding: 2% 20%;
    color: var(--branco);   
}

.rodapePrincipal-contatoForm label[for=email-contato] {
	font-weight: bold;
	font-size: 2px;
	color: var(--branco);
	margin-bottom: 1%;
	display: flex;
}

.rodapePrincipal-contatoForm-emailInput {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5%;
}

.rodapePrincipal-contatoForm-submit {
	border-top-right-radius: 25%;
	border-bottom-right-radius: 25%;
	background-color: var(--vermelho1);
	color: var(--branco);
	cursor: pointer;	
}

.rodapePrincipal-contatoForm-emailInput {
	outline: 0;
	border: 1% solid var(--preto_max);
	box-sizing: border-box;
}

.rodapePrincipalEmail  {
    display: flex;
    justify-content: space-around;
}


.rodapePrincipal-contatoForm-fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*RODAPÉ*/


.rodape {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--preto_max);
    color: var(--branco);
    align-items: flex-start;
    padding: 1% 0% 3% 0%;
}


.rodapeFinal {
    display: grid;
}


.metodoDePagamento {
    display: grid;
   
}

.redesSociais {
    display: grid;
}

/* versão mobile*/
/*header*/

@media screen and (max-width: 480PX) {
    .cabecalhos {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: wrap;}
    }
    
    @media screen and (max-width: 480PX) {
 .cabecalhoPrincipal {
    background-color: var(--preto_max);
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;}
}
    
    @media screen and (max-width: 480px) {
    .cabecalho {
    display: flex;
    justify-content: space-around;
    width: 70%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
}

@media screen and (max-width: 480PX) {
.botaoPesquisa {
    display: none;}
}
    
    @media screen and (max-width: 480PX) {
    .loginCompras {
        display: flex;
        margin-right: 0%;
        width: 90%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;}
    }
    
    @media screen and (max-width: 480px) {
    .menu {display: none;}
    }
    
    /*main*/
    @media screen and (max-width: 480px) {
    .plataf-imagens {
        margin: 10%;}
    }
    
    
    @media screen and (max-width: 480px) {
    .bannerDestaque { 
        display: grid;
        flex-direction: column;
        margin-top: 3%;}
    } 
    
    
    @media screen and (max-width: 480px) {
        .bannerDestaque1 {display: none;}
    }
    
    @media screen and (max-width: 480PX) {
    .escolhaPlataforma {flex-direction: column;}
    }
    
    @media screen and (max-width: 480PX) {
    .bannerPrincipal {display: none;}
    }
    
    @media screen and (max-width: 480px) {
    .galeriaProdutos {
    padding: 30px;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));}
    }

   
@media screen and (max-width: 480px) {
.rodapeFinal {
    display: flex;
    flex-direction: column;
    align-items: center;}
}



@media screen and (max-width: 480px) {
.rodape {
        display: flex;
        width: 100%;
        background-color: var(--preto_max);
        color: var(--branco);
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
.lista { visibility: hidden;}
}

@media screen and (max-width: 480px) {
.bandeiras { visibility: hidden;}
}

@media screen and (max-width: 480px) {
.metodoDePagamento {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -11%;
    }
}

@media screen and (max-width: 480px) {
    .redesSociais li {visibility: hidden;}
    }



/* Login com redes sociais ou manual*/



  /* The Modal (background) */
  
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;	
  }
  
  
  	
  
  
  /* Botão de fechar o container */
  .close {
	/* Position it in the top right corner outside of the modal */
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
	color: red;
	cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
  } 	
 


  * {box-sizing: border-box}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 20px 0;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: orag;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: blue;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}



/* configuração menu lateral - mobile */


@media screen and (min-width: 481px) {
.botaoMenuLateral {
   display: none;}

}


 /* The side navigation menu */

.menuLateral {
    display: flex;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-image: linear-gradient(black,red);
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.3s;
   /* border-radius: 0% 0% 5% 0%; */
    flex-direction: column;
}

.menuLateralLogo {
  width: 164px;
  align-self: center;
}

/* The navigation menu links */


.menuLateral a {
    padding: 20px 0px 20px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}

.iconeMenuLateral {
	width: 10%;
}

/* When you mouse over the navigation links, change their color */


.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */


.menuLateral .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */


#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .menuLateral {padding-top: 15px;}
  .menuLateral a {font-size: 18px;}
} 



